body {
    margin : 0;
    font-family: sans-serif;
}

.project {
  text-align: left;
  margin-top: 10px;
  padding: 1.2%;
  font-size: calc(3px + 2vmin);
  border-radius: 16px;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(241, 241, 241);
  transition: 0.4s;
}
.project h2 {
  text-align: center;
}

.project:hover {
  background-color: rgb(210, 210, 210);
}